*{
    padding: 0;
    margin: 0;
    border: 0;
}

body{
    background-color: rgb(31, 31, 31);
}
@font-face {
    font-family: 'titulo-normal';
    src: url(../fontes/ABCGintoNormal-Medium-Trial.otf) format('opentype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'titulo-negrito';
    src: url(../fontes/ABCGintoNord-Bold-Trial.otf) format('opentype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'paragrafos';
    src: url(../fontes/whitneybook.otf) format('opentype');
    font-weight: normal;
    font-style: normal;
}
nav{
    background-color: rgb(31, 31, 31);
    padding: 15px;
    border-radius: 0px 0px 15px 15px;
}

nav > a{
    text-decoration: none;
    padding: 10px;
    font-size: 15px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    position: relative;
    left: 270px;
    bottom: 5px;
    color: white;
    font-weight: bolder;
    border-radius: 25px;
}

nav > .login{
    padding: 10px 20px;
    position: relative;
    left: 530px;
    background-color: rgb(0, 110, 255);
    border-radius: 25px;
}

nav > .login:hover{
    transition: all .6s ease;
    box-shadow: 1px 0px 12px 6px rgba(0, 0, 0, 0.342);
    background-color: rgb(52, 140, 255);
}
nav > .h1{
    font-family: 'titulo-normal', 'Times', 'serif';
    color: white;
    font-weight: bolder;
    position: relative;
    left: 30px;
    bottom: 5px;
    font-size: 25px;
}

nav > .h1:hover{
    color: rgba(0,110,255);
    background: transparent;
    border-radius: 0px;
}
span{
    color: rgb(0, 110, 255);
    text-decoration: underline;
}

.button-diferent{
    background-color: rgb(52, 140, 255);
}
nav > a:hover{
    transition:all .4s ease;
    background-color: rgb(0, 110, 255);
    border-radius: 25px;
}

/*-------------------------------------------------------------------------------------------------------------------------------*/

main{
    padding: 10px;
    background-color: rgb(31, 31, 31);
} 

.primeira-pagina > h1 {
    font-family: 'titulo-negrito', 'Times', 'serif';
    color: white;
    font-size: 40px;
    position: relative;
    margin: 0px;
    top: 190px;
    left: 70px;
    width: 500px;
}

.primeira-pagina > img {
    position: relative;
    left: 700px;
    bottom: 120px;
    margin: 0px;
}

.segunda-pagina > .h1{
    font-family: 'titulo-negrito', 'Times','serif';
    color: white;
    width: 550px;
    height: 130px;
    text-align: center;
    position: relative;
    top: 300px;
    left: 400px;
}
.people1{
    position: relative;
    left: 10px;
    top: 340px;
    background-color: white;
    height: 450px;
    width: 250px;
    border-radius: 25px;
    padding: 10px;
}

.people1 > h1{
    font-size: 30px;
    font-family: 'titulo-normal', 'Times','serif';
    position: relative;
    top: 50px;
    text-align: center;
}

.people1 > h2 {
    position: relative;
    left: 80px;
    top: 50px;
    font-size: 15px;
    font-family: 'paragrafos';
    color: #4e4e4e;
}

.people1 > h3{
    font-size: 15px;
    font-family: 'paragrafos','Times','serif';
    width: 240px;
    position: relative;
    left: 5px;
    height: 150px;
    top: 75px;
    text-align: center;

}
.people1 > img{
    position: relative;
    left: 75px;
    top: 20px;
    border-radius: 50%;
}

.people1 > a {
    font-size: 30px;
    position: relative;
    left: 83px;
    top: 70px;
    text-decoration: none;
    color: black;
}


.people2{
    position: relative;
    left: 350px;
    background-color: white;
    bottom: 130px;
    height: 450px;
    width: 250px;
    border-radius: 25px;
    padding: 10px;
}

.people2 > h1{
    font-size: 30px;
    font-family: 'titulo-normal', 'Times','serif';
    position: relative;
    top: 50px;
    text-align: center;
}

.people2 > h2 {
    position: relative;
    left: 100px;
    top: 50px;
    height: 10px;
    font-size: 15px;
    font-family: 'paragrafos';
    color: #4e4e4e;
}

.people2 > h3{
    font-size: 15px;
    font-family: 'paragrafos','Times','serif';
    width: 240px;
    position: relative;
    left: 5px;
    top: 75px;
    height: 150px;
    text-align: center;

}
.people2 > img{
    position: relative;
    left: 75px;
    top: 20px;
    border-radius: 50%;
}

.people2 > a {
    font-size: 30px;
    position: relative;
    left: 83px;
    top: 80px;
    text-decoration: none;
    color: black;
}

.people3{
    position: relative;
    left: 700px;
    background-color: white;
    bottom: 600px;
    height: 450px;
    width: 250px;
    border-radius: 25px;
    padding: 10px;
}

.people3 > h1{
    font-size: 30px;
    font-family: 'titulo-normal', 'Times','serif';
    position: relative;
    top: 50px;
    text-align: center;
}

.people3 > h2 {
    position: relative;
    left: 72px;
    top: 50px;
    font-size: 15px;
    font-family: 'paragrafos';
    color: #4e4e4e;
}

.people3 > h3{
    font-size: 15px;
    font-family: 'paragrafos','Times','serif';
    width: 240px;
    position: relative;
    left: 5px;
    top: 75px;
    height: 150px;
    text-align: center;

}
.people3 > img{
    position: relative;
    left: 75px;
    top: 20px;
    border-radius: 50%;
}

.people3 > a {
    font-size: 30px;
    position: relative;
    left: 83px;
    top: 80px;
    text-decoration: none;
    color: black;
}

.people4{
    position: relative;
    left: 1040px;
    background-color: white;
    bottom: 1070px;
    height: 450px;
    width: 250px;
    border-radius: 25px;
    padding: 10px;
}

.people4 > h1{
    font-size: 30px;
    font-family: 'titulo-normal', 'Times','serif';
    position: relative;
    top: 50px;
    text-align: center;
}

.people4 > h2 {
    position: relative;
    left: 72px;
    top: 50px;
    font-size: 15px;
    font-family: 'paragrafos';
    width: 130px;
    color: #4e4e4e;
}

.people4 > h3{
    font-size: 15px;
    font-family: 'paragrafos','Times','serif';
    width: 240px;
    position: relative;
    left: 5px;
    height: 150px;
    top: 75px;
    text-align: center;

}
.people4 > img{
    position: relative;
    left: 75px;
    top: 20px;
    border-radius: 50%;
}

.people4 > a {
    font-size: 30px;
    position: relative;
    left: 83px;
    top: 80px;
    text-decoration: none;
    color: black;
}

.terceira-pagina > h1{
    font-size: 35px;
    left: 390px;
    width: 600px;
    height: 200px;
    color: white;
    font-family: 'titulo-negrito','Times','serif';
    position: absolute;
    top: 2000px;
    text-align: center;
}

.terceira-pagina > h2{
    font-size: 30px;
    font-weight: 400;
    font-family: 'paragrafos', 'Times','serif';
    text-align: center;
    position: relative;
    bottom: 500px;
    padding: 20px;
    color: white;

}

.terceira-pagina > h3 {
    font-family: 'titulo-negrito', 'Times', 'serif';
    font-size: 30px;
    color: white;
    width: 550px;
    position: relative;
    left: 440px;
    bottom: 120px;
}

.terceira-pagina > a{
    text-decoration: none;
    color: white;
    font-family: 'titulo-normal','Times','serif';
    background-color: rgb(52, 140, 255);
    padding: 16px 26px;
    border-radius: 25px;
    position: relative;
    left: 600px;
    bottom: 20px;
}

.terceira-pagina > a:hover {
    transition: all .6s ease;
    box-shadow: 1px 0px 12px 6px rgba(0, 0, 0, 0.342);
    background-color: rgb(52, 140, 255);
}


/*-------------------------------------------------------------------------------------------------------------------------------*/
footer{
    background-color: rgb(12, 12, 12);
    padding: 10px;
    height: 250px;
    width: 1327.8px;
    color: white;
}
    .footer-distributed{
        background-color: #292c2f;
        box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
        box-sizing: border-box;
        width: 100%;
        text-align: left;
        font: bold 16px sans-serif;
     
        padding: 55px 50px;
        margin-top: 80px;
    }
     
    .footer-distributed .footer-left,
    .footer-distributed .footer-center,
    .footer-distributed .footer-right{
        display: inline-block;
        vertical-align: top;
    }
     
    .footer-distributed .footer-left{
        width: 40%;
    }
     
    .footer-distributed h3{
        color:  #ffffff;
        font: normal 36px 'Cookie', cursive;
        margin: 0;
    }
     
    .footer-distributed h3 span{
        color:  #5383d3;
    }
     
     
    .footer-distributed .footer-links{
        color:  #ffffff;
        margin: 20px 0 12px;
        padding: 0;
    }
     
    .footer-distributed .footer-links a{
        display:inline-block;
        line-height: 1.8;
        text-decoration: none;
        color:  inherit;
    }
     
    .footer-distributed .footer-company-name{
        color:  #8f9296;
        font-size: 14px;
        font-weight: normal;
        margin: 0;
    }
     
     
    .footer-distributed .footer-center{
        width: 35%;
    }
     
    .footer-distributed .footer-center i{
        background-color:  #33383b;
        color: #ffffff;
        font-size: 25px;
        width: 38px;
        height: 38px;
        border-radius: 50%;
        text-align: center;
        line-height: 42px;
        margin: 10px 15px;
        vertical-align: middle;
    }
     
    .footer-distributed .footer-center i.fa-envelope{
        font-size: 17px;
        line-height: 38px;
    }
     
    .footer-distributed .footer-center p{
        display: inline-block;
        color: #ffffff;
        vertical-align: middle;
        margin:0;
    }
     
    .footer-distributed .footer-center p span{
        display:block;
        font-weight: normal;
        font-size:14px;
        line-height:2;
    }
     
    .footer-distributed .footer-center p a{
        color:  #5383d3;
        text-decoration: none;;
    }
     
    .footer-distributed .footer-right{
        width: 20%;
    }
     
    .footer-distributed .footer-company-about{
        line-height: 20px;
        color:  #92999f;
        font-size: 13px;
        font-weight: normal;
        margin: 0;
    }
     
    .footer-distributed .footer-company-about span{
        display: block;
        color:  #ffffff;
        font-size: 14px;
        font-weight: bold;
        margin-bottom: 20px;
    }
     
    .footer-distributed .footer-icons{
        margin-top: 25px;
    }
     
    .footer-distributed .footer-icons a{
        display: inline-block;
        width: 35px;
        height: 35px;
        cursor: pointer;
        background-color:  #33383b;
        border-radius: 2px;
     
        font-size: 20px;
        color: #ffffff;
        text-align: center;
        line-height: 35px;
     
        margin-right: 3px;
        margin-bottom: 5px;
    }
     
     
    @media (max-width: 880px) {
     
        .footer-distributed{
            font: bold 14px sans-serif;
     
        }
     
        .footer-distributed .footer-left,
        .footer-distributed .footer-center,
        .footer-distributed .footer-right{
            display: block;
            width: 100%;
            margin-bottom: 40px;
            text-align: center;
        }
     
        .footer-distributed .footer-center i{
            margin-left: 0;
        }
        .main {
            line-height: normal;
            font-size: auto;
        }
     
    }